.header {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}

.info {
    margin: 0;
    overflow: hidden;

    & > div {
        font-size: 1.6rem;
    }
}

.wrapper {
    margin: 0.5rem;
}