.grid-item {
    text-align: left;
    width: 18rem;
    height: 18rem;
    background: white;
    margin: 1rem auto;
    padding: 0.2rem;
    border-radius: 0.4rem;
    transition: all 0.2s ease-in-out;
    border-left: #1565c0 solid 0.5rem;
    cursor: pointer;
    box-sizing: border-box;
}

.grid-item > h3 {
    margin: 0.5rem;
    font-size: 2rem;
}

.grid-item > p {
    font-size: 1.6rem;
    margin: 0;
    overflow: hidden;
    height: 2rem;
}

.grid-item > h4 {
    font-size: 2rem;
    font-weight: 200;
    margin-left: 0.5rem;
    color: black;
}