.search-wrapper {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5.4rem;
    margin-top: 9rem;
}

.search-wrapper input[type="search"] {
    margin: 0.5rem auto;
    width: 100%;
}