.shadow {
  box-shadow: 0 0.1rem 0.2rem #a5a9af;
  transition: all 0.1s;
}
.shadow-hover {
  box-shadow: 0 0.2rem 0.4rem #a5a9af;
}
span.input-validation-message {
  display: block;
  font-size: 1.6rem;
  color: #ef5350;
}
.account-form {
  padding: 10rem;
  text-align: center;
}
.account-header {
  font-family: 'Dosis', sans-serif;
  font-size: 6.4rem;
  font-weight: 600;
  text-shadow: 0 0.2rem 0.2rem #a5a9af;
  color: #7c828b;
}
