.book-list {
    list-style: none;
    padding: 0;
    font-size: 1.6rem;
    margin: 0 auto;
    width: 80rem;
    box-sizing: border-box;
}

.book-list h3 {
    width: 20rem;
    margin: 0 auto;
    font-family: 'Dosis', sans-serif;
}