.editable-book-info {
    font-size: 2rem;
    min-width: 40rem;
    margin: 0.5rem;
}

.editing-book-title > div {
    font-size: 4rem;
    font-weight: bold;
}

.editing-book-title > div > span {
    font-size: 2rem;
}