@import '../../styles/global';

.fieldset {
    box-sizing: border-box;
    text-align: center;
    border-radius: 0.4rem;
    border-style: solid;
    border-color: $gray;
    border-width: 0.1rem;
}