.search-wrapper {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.search-wrapper input[type="search"] {
    width: 30%;
    margin: 0.5rem auto;
}

.search-wrapper ul {
    font-size: 2.2rem;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 20%;
    list-style: none;
    left: 40%;
    background-color: white;
}

.search-wrapper ul li {
    cursor: pointer;
    padding: 1rem 0;
}

.search-wrapper ul li * {
    margin: 0;
    padding: 0;
}

.search-wrapper ul li:not(:last-child) {
    border-bottom: 0.1rem solid grey;
}