@import url('https://fonts.googleapis.com/css?family=Monoton');

.account-form {
    padding: 8rem;
    text-align: center;
}

.account-header {
    font-size: 6.4rem;
    font-family: 'Monoton', cursive;
    text-shadow: 0 0.2rem 0.2rem #a5a9af;
    color: #1565c0;
}

.form-button-wrapper {
    margin: 2rem;
}