@import '../../../styles/base-sizes';

.edited-status {
    & p {
        margin: 0;
        display: inline-block;
        font-size: vh(1.8);
    }

    & > select {
        font-size: vh(1.6);
        width: 30%;
    }
}