@import '../../styles/colors';
@import '../../styles/base-sizes';

%grid-item {
    text-align: left;
    width: vh(18);
    height: vh(18);
    background: white;
    margin: vh(1) auto;
    padding: vh(0.2);
    border-radius: vh(0.4);
    transition: all 0.2s ease-in-out;
    border-left: $primary solid vh(0.5);
    cursor: pointer;
    box-sizing: border-box;

    & > h3 {
        margin: vh(0.5);
        font-size: vh(2);
    }

    & > p {
        font-size: vh(1.6);
        margin: 0;
        overflow: hidden;
        height: vh(2);
    }

    & > h4 {
        font-size: vh(2);
        font-weight: 200;
        margin-left: vh(0.5);
        color: black;
    }
}