@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(https://fonts.gstatic.com/s/dosis/v7/HhyXU5sn9vOmLzHDKeCFMI4.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/HhyaU5sn9vOmLzloC_A.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(https://fonts.gstatic.com/s/dosis/v7/HhyXU5sn9vOmLzGbKOCFMI4.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(https://fonts.gstatic.com/s/dosis/v7/HhyXU5sn9vOmLzG3L-CFMI4.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(https://fonts.gstatic.com/s/dosis/v7/HhyXU5sn9vOmLzHTLuCFMI4.ttf) format('truetype');
}
.shadow {
  box-shadow: 0 0.1rem 0.2rem #a5a9af;
  transition: all 0.1s;
}
.shadow-hover {
  box-shadow: 0 0.2rem 0.4rem #a5a9af;
}
html {
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #f9f9f9;
}
.btn {
  font-size: 2.2rem;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.6rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1.5rem;
  transition: all 0.3s;
  border-radius: 0.2rem;
}
.btn.primary {
  background-color: #1565c0;
  box-shadow: 0 0.1rem 0.2rem #a5a9af;
  transition: all 0.1s;
}
.btn.primary:hover {
  box-shadow: 0 0.2rem 0.4rem #a5a9af;
  background-color: #1259a9;
}
.btn.active {
  background-color: #1259a9;
}
.btn.disabled {
  background-color: #4a688b;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  font-weight: 100;
  padding: 0.3rem 1rem;
  font-size: 2.2rem;
  border: #ccd0d6 solid 0.1rem;
  border-radius: 0.4rem;
  margin: 0.6rem;
  color: #757575;
  background-color: white;
  text-align: center;
  box-shadow: 0 0.1rem 0.2rem #a5a9af;
  transition: all 0.1s;
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  box-shadow: 0 0.2rem 0.4rem #a5a9af;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0.2rem 0.4rem #a5a9af;
}
input[type="text"].invalid-input,
input[type="email"].invalid-input,
input[type="password"].invalid-input {
  border-color: #ef5350;
  box-shadow: 0 0.1rem 0.2rem #a5a9af;
  transition: all 0.1s;
}
input[type="text"].invalid-input:hover,
input[type="email"].invalid-input:hover,
input[type="password"].invalid-input:hover {
  border-color: rgba(239, 83, 80, 0.4);
  box-shadow: 0 0.2rem 0.4rem rgba(239, 83, 80, 0.6);
}
span.input-validation-message {
  display: block;
  font-size: 1.6rem;
  color: #ef5350;
}
.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  min-height: 4.8rem;
  background-color: #1565c0;
  box-shadow: 0 0.1rem 0.2rem #a5a9af;
  transition: all 0.1s;
  color: white;
}
.nav-bar a.nav-bar-link {
  text-align: center;
  display: inline-block;
  padding: 1rem 2.5rem;
  margin: 0 auto;
  cursor: pointer;
  min-width: 7.5rem;
  text-decoration: none;
  color: inherit;
  font-size: 2.2rem;
}
.nav-bar a.nav-bar-link:hover {
  background-color: #1259a9;
}
.nav-bar a.nav-bar-link.active-nav-bar-link {
  background-color: #1259a9;
}
.main {
  margin-top: 6rem;
  font-size: 2rem;
}
.account-form {
  padding: 10rem;
  text-align: center;
}
.account-header {
  font-family: 'Dosis', sans-serif;
  font-size: 6.4rem;
  font-weight: 600;
  text-shadow: 0 0.2rem 0.2rem #a5a9af;
  color: #7c828b;
}
.book-list {
  list-style: none;
  padding: 0;
  font-size: 1.6rem;
  margin: 0 auto;
  width: 70rem;
  box-sizing: border-box;
}
.book-list > li {
  box-shadow: 0 0.1rem 0.2rem #a5a9af;
  transition: all 0.1s;
  border: solid 0.1rem #a5a9af;
  background-color: white;
  border-radius: 0.4rem;
  margin: 1.5rem;
  padding: 0 1rem;
}
.book-list > li:hover {
  box-shadow: 0 0.2rem 0.4rem #a5a9af;
}
.book-list > li div {
  display: inline-block;
  box-sizing: border-box;
}
.book-list > li div.book-info {
  margin-right: 3rem;
  font-size: 2.2rem;
  min-width: 40rem;
}
.book-list > li div.status-selector > p {
  display: inline-block;
}
.book-list > li div.status-selector > select {
  font-size: 1.6rem;
  width: 15rem;
  border: none;
  text-align: center;
}
