.book-title {
    font-weight: 500;
    margin: 0;
    padding: 0.95rem 0;
    font-size: 1.8rem;
}

.book-info {
    margin-right: 3rem;
    font-size: 2.4rem;
    width: 54%;
    vertical-align: middle;
}

.book-info > * {
    display: inline-block;
}

.genre {
    margin: 0 0 0 1rem;
    font-size: 1.8rem;
    padding: 0.95rem 0;
}