@import '../../../styles/base-sizes';

.book-title {
    font-weight: 500;
    margin: 0;
    padding: vh(0.95) 0;
    font-size: vh(1.8);
}

.book-info {
    margin-right: vh(3);
    font-size: vh(2.4);
    width: 54%;
    vertical-align: middle;

    & > * {
        display: inline-block;
    }
}

.genre {
    margin: 0 0 0 vh(1);
    font-size: vh(1.8);
    padding: vh(0.95) 0;
}