.book-li {
    transition: all 0.2s ease-in-out;
    border-left: #1565c0 solid 0.5rem;
    background-color: white;
    border-radius: 0.4rem;
    margin: 1rem 1rem;
    padding: 0 1rem;
}

.book-li > div {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
}

.book-title {
    font-weight: 300;
    margin: 0;
    padding: 0.95rem 0;
    font-size: 1.8rem;
}

.book-info {
    margin-right: 3rem;
    font-size: 2.4rem;
    min-width: 65%;
}

.status {
    font-size: 1rem;
    padding: 0.8rem;
}

.status p {
    margin: 0;
    display: inline-block;
}

.edited-status p {
    margin: 0;
    display: inline-block;
    font-size: 1.8rem;
}

.edited-status > select {
    font-size: 1.6rem;
    width: 30%;
}

.edited-footer > div {
    display: inline-block;
    margin: 0.8rem 2rem;
}

.status > select {
    border: none;
    text-align: left;
}

.editing-book-li {
    text-align: center;
    transition: all 0.1s;
    border-left: #1565c0 solid 0.5rem;
    background-color: 929292;
    border-radius: 0.4rem;
    margin: 0.8rem;
    padding: 0 1rem;
}

.editing-book-li > div {
    display: block;
    box-sizing: border-box;
}

.editable-book-info {
    font-size: 2rem;
    min-width: 40rem;
    margin: 0.5rem;
}

.editing-book-title > div {
    font-size: 4rem;
    font-weight: bold;
}

.editing-book-title > div > span {
    font-size: 2rem;
}

.reading-time {
    font-size: 1rem;
    padding: 0.8rem;
}

.reading-time p {
    margin: 0;
    display: inline-block;
}